body {
  padding: 0;
  text-align: center;
  margin: 5px;
}

#game-intro {
  padding: 0px 5px;
  margin-bottom: 30px;
}
#game-intro p {
  font-size:14px;
  font-family: "Verdana";
}
.logo-img{
  background-image:url("https://i.ibb.co/WKM4YvJ/Intro.png"); 
}

#game-container {
  padding: 0px 0px;
  justify-content: center;
  text-align: center;
  margin-top: 4%;
  margin-left: 50px;
  margin-right: 50px;
  /* display: none; //it doesn't work*/
}

#game-intro .stat{
  display: none;
}

.stat {
  /* display: flex; */
  justify-content: space-around; 
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 5px;
  /* height: 100px; */
  width: 1100px;
  margin-left:50px;
  margin-right:50px;
  background-color:#78C4D2;
  padding: 50 50px;
  align-content: center;
  height:  50px;
  display: none;
}

.stat .pp {
  justify-content: space-evenly; 
  /* font-display: flex; */
  gap: 10px;
  display: flex;
  color: #fff;
  font-size: 18px;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 0px 0px;
  overflow: hidden;
  position: relative;
  background-image: url("https://i.ibb.co/r7Ssgct/fundomar2.png");
  background-size: cover;

  width: 1100px; /* Set the width of your image */
  height: 450px; /* Set the height of your image */
  animation: slide 10s linear infinite; /* Adjust the duration (5s) and animation name (horizontalLoop) as needed */
  white-space: nowrap;
  overflow: hidden;
  margin-top: 4%;
  margin-left:50px;
  margin-right: 50px;
  border-radius: 5px;
}

@keyframes slide {
  0% {
    background-position: 1000px 0;
  }
  100% {
    background-position: 200 0;
  }
}

#game-end {
  display: none;
}

.game-over {
  display: none;
  background-image: url("https://media.gettyimages.com/id/165601965/pt/vetorial/peixes-mortos.jpg?s=612x612&w=0&k=20&c=_qfsytav_2rGgMJMs43ISwHuAqZYQ0-MG676DLIa4ys=");
}

.game-intro p { /*letter format (score, live and level)*/
  font-size: 52px;
  font-family: "Verdana";
  display: flex; 
  
}

.logo-img {
  width: 300px;
}

.arrows-img {
  width: 125px;
}

body button {
  font-size: 25px;
  background-color:  #008080 ;
  color: #fff;
  padding: 10px 30px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  flex-direction: column;
}

#footer{
  position:fixed;
  display: flex;
  justify-content:center; 
  font-size:14px;
  font-family: "Verdana";
  align-items: center;
  gap: 50px;
  margin-left: 30%;
}

.logo-footer {
  width: 50px;
}